<!DOCTYPE html>   
<html>   
    <head>  
        <title> Form Registrasi </title>        
    </head>
    <body>
        <h1> Form Registrasi </h1>
        <form method="post" action="/registeruser">
            <label>Name Lengkap : </label>   
            <input type="text" placeholder="Enter Your Name" name="realname" required>  
            <label>Tempat Lahir : </label>   
            <input type="text" placeholder="Enter Your Place of Birth" name="pob" required>  
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <input type="submit" value="Register">
        </form>     
    </body>     
</html>  